body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-family: "Quicksand", sans-serif;
  background-color: hsl(217, 54%, 11%);
  max-height: 700px;
}

main {
  background-color: rgb(15, 23, 40);
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 70%;
}
section {
  background-color: rgb(25, 38, 61);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.5rem;
  max-width: 400px;
}
#Equilibrium {
  filter: brightness(130%);
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
}
#Equilibrium:hover {
  filter: hue-rotate(310deg);
}
h1 {
  color: white;
}
h1:hover {
  color: hsl(178, 100%, 50%);
}
h2,
span,
a {
  color: hsl(215, 51%, 70%);
  text-decoration: none;
}
h2,
.author {
  font-weight: 300;
}
span {
  font-weight: 600;
}
#parent {
  display: flex;
  justify-content: space-between;
}
.left_container {
  display: flex;
  gap: 10px; /* space between items */

  align-items: center; /* center vertically */
}
.right_container {
  display: flex;
  gap: 10px;
}
#Ethereum {
  max-width: 10px;
  height: auto;
}
.ETH {
  color: hsl(178, 100%, 50%);
}
#Clock {
  max-width: 20px;
  height: auto;
}
#Avatar {
  width: 50px;
  height: auto;
  border: 1px solid white;
  border-radius: 50%;
  display: inline;
}
.line {
  background-color: hsl(215, 32%, 27%);
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer {
  display: flex;
  align-items: center;
}
.Jules {
  color: white;
  opacity: 0.6;
}
.author {
  padding-left: 2vw;
  padding-right: 2vw;
}
.Jules:hover {
  color: hsl(178, 100%, 50%);
}

@media (max-width: 325px) {
  #parent {
    flex-direction: column;
    row-gap: 10px;
  }
}
